on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  issues: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Create release
        id: release
        uses: googleapis/release-please-action@v4
        with:
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout code
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v2
      - name: Copy README.md and LICENSE files to plugin folder
        if: ${{ steps.release.outputs.release_created }}
        run: |
          cp README.md tellae/
          cp LICENSE tellae/
      - name: Create a ZIP containing the Tellae plugin
        if: ${{ steps.release.outputs.release_created }}
        run: |
          zip -r tellae_plugin.zip tellae
      - name: Attach as release artifact
        if: ${{ steps.release.outputs.release_created }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ steps.release.outputs.tag_name }} tellae_plugin.zip
      - name: Set up Python 3.8
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install qgis-plugin-ci
        if: ${{ steps.release.outputs.release_created }}
        run: pip3 install qgis-plugin-ci
      - name: Publish plugin
        if: ${{ steps.release.outputs.release_created }}
        run: python publish_plugin.py
        env:
          OSGEO_USERNAME: ${{ secrets.OSGEO_USERNAME }}
          OSGEO_PASSWORD: ${{ secrets.OSGEO_PASSWORD }}
          ARCHIVE_FILENAME: tellae_plugin.zip
